In [1]:
import sqlite3
con = sqlite3.connect('mydatabase.db')

In [3]:
cursor = con.cursor()
cursor.execute(
'''CREATE TABLE HUMAN
(ID INT PRIMARY KEY NOT NULL,
NAME TEXT NOT NULL,
AGE INT NOT NULL);''')


con.commit()

In [21]:
cursor.execute('''INSERT INTO HUMAN (ID,NAME,AGE) VALUES (6, '', 25)''')

In [20]:
results = cursor.execute('''SELECT * FROM HUMAN''')
for item in results:
    print(item)

(1, '', 25)
(2, '', 25)
(3, '', 25)
('', '', 25)
(4, '4', 25)
(5, '', 25)